/* h1{
    color:blueviolet;
} */
.classone{
    color: green;
}
#special{
    color: brown;
}

#maindiv{
    color: red;
    background-color: rgb(224, 215, 215);

}
p{
    font-size: 1.5rem;
}

#hello5{
    margin:5px;
    border: 5px solid green;
    padding:5px;
}
#hello6{
    border: 5px solid maroon;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;

}
#hello7{
    border: 5px solid rgb(48, 10, 104);
    padding: 20px 30px 10px 40px;  /*with short-hand property - top right bottom left*/

}